.colors{
    color: #e76f51;
    color: #e9c46a;
    color: #2a9d8f;
    color: #f1f1f1;
    color: rgb(8, 75, 102);
}

html{
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    background-image: radial-gradient(#505050 30%,#323232 70%);
    background-repeat: no-repeat;
    color: #f1f1f1;
    position: relative;
}

.container-navbar{
    background-image: linear-gradient(to bottom left,rgba(165, 225, 252, 0.4), rgba(67, 202, 255, 0.4));
    color: #f1f1f1;
    box-shadow: rgba(208, 232, 255, 0.3) 0px 19px 38px, rgba(32, 32, 32, 0.22) 0px 15px 12px;
    width: 100%;
    height: 60px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    gap: 5px;
}
    .navbar-menu{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
        .menu-icon {
            cursor: pointer;
            width: 35px;
            height: 35px;
            position: relative;
            z-index: 5;
        }
        .menu-logo{
            width: 40px;
            height: 40px;
            filter: drop-shadow(3px 3px 3px rgb(8, 75, 102));
        }
        .menu-title{
            cursor: pointer;
            font-size: 20px;
            font-weight: bold;
            color: #f1f1f1;
            text-align: center;
            text-shadow: 3px 3px 3px rgb(8, 75, 102);
        }
            .menu-title a{
                all: unset;
            }
    .navbar-profile{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }
        .profile-picture{
            cursor: pointer;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #f1f1f1;
            border: 2px solid rgb(8, 75, 102);
            box-shadow: 0px 0px 2px rgb(8, 75, 102); 
            transition: all .3s ease;
        }
            .profile-picture:hover{
                box-shadow: 0 0 .25rem rgba(32, 32, 32, 0.5), -.125rem -.125rem 1rem rgba(71, 203, 239, 0.5), .125rem .125rem 1rem rgba(90, 219, 255, 0.5);

            }
        .profile-line{
            width: 2px;
            height: 40px;
            background-color: #f1f1f1;
            border: .1px solid rgb(8, 75, 102);
            box-shadow: 0px 0px 1px rgb(8, 75, 102);
        }
        .profile-search{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }
            .profile-search input{
                background-color: #f1f1f1;
                outline: none;
                border: 2px solid rgb(8, 75, 102);
                border-right: none;
                border-radius: 10px 0px 0px 10px;
                height: 40px;
                width: 180px;
                padding-left: 7px;
                transition: all .3s ease-in-out;
            }
            .profile-search input:focus{
                box-shadow: 0 0 .25rem rgba(32, 32, 32, 0.5), -.125rem -.125rem 1rem rgba(71, 203, 239, 0.5), .125rem .125rem 1rem rgba(90, 219, 255, 0.5);
                width: 300px;
            }
            .profile-search button{
                background-color: #f1f1f1;
                color: rgb(8, 75, 102);;
                outline: none;
                border: 2px solid rgb(8, 75, 102);
                border-left: none;
                border-radius: 0px 10px 10px 0px;
                font-size: 20px;
                padding: 1px 5px 1px 5px;
                height: 40px;
                transition: all .3s ease-in-out;
            }
            .profile-search button:hover{
                box-shadow: 0 0 .25rem rgba(32, 32, 32, 0.5), -.125rem -.125rem 1rem rgba(71, 203, 239, 0.5), .125rem .125rem 1rem rgba(90, 219, 255, 0.5);
            }
.container-menu{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 0px;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    backdrop-filter: blur(3px);
    background-image: linear-gradient(to bottom left,rgba(165, 225, 252, 0.4), rgba(67, 202, 255, 0.4));
    transition: all .3s ease-in-out;
}

.container-profile{
    position: absolute;
    width: 160px;
    height: 0px;
    right: 0;
    z-index: 3;
    overflow: hidden;
    border-radius: 0px 0px 0px 10px;
    background-image: linear-gradient(to bottom left,rgba(165, 225, 252, 0.4), rgba(67, 202, 255, 0.4));
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    transition: all .3s ease-in-out;
}
    .container-profile a{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        box-shadow: inset 0 0 0 0 #f1f1f1;
        color: #f1f1f1;
        padding: 0px 3px 1px 3px;
        width: 100%;
        transition: all .3s ease-in-out;
    }
    .container-profile a:hover{
        color: rgb(8, 75, 102);
        box-shadow: inset 200px 0 0 0 #f1f1f1;
    }
.container-main{
    min-height: 110px;
    width: calc(80%);
    padding: 20px;
    margin: 30px 10% 30px 10%;
    background-image: linear-gradient(to bottom left,rgba(165, 225, 252, 0.4), rgba(67, 202, 255, 0.4));
    border-radius: 20px;
    box-shadow: rgba(208, 232, 255, 0.3) 0px 19px 38px, rgba(32, 32, 32, 0.22) 0px 15px 12px;
}
.container-footer{
    width: 100%;
    height: 60px;
    padding: 10px;
    background-image: linear-gradient(to top right,rgba(165, 225, 252, 0.4), rgba(67, 202, 255, 0.4));
    box-shadow: rgba(208, 232, 255, 0.3) 0px 19px 38px, rgba(32, 32, 32, 0.22) 0px 15px 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 1;
    opacity: .9;
}
    .footer-copyright{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
        .footer-logo{
            width: 25px;
            height: 25px;
        }
        .footer-title{
            font-size: 14px;
            white-space: nowrap;
        }
    .footer-links{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
        .footer-links span{
            font-size: 14px;
        }
        .footer-links div:first-child{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: flex-end;
            gap: 3px;
        }
        .footer-links div:last-child{
            font-size: 12px;
        }

/* cdn */
.faLink{
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #f1f1f1;
    color: rgb(126, 207, 251);
    padding: 0px 3px 1px 3px;
    border-radius: 4px;
    transition: all .3s ease-in-out;
}
.faLink:hover{
    color: rgb(8, 75, 102);
    box-shadow: inset 200px 0 0 0 #f1f1f1;
}
/* END */

/* view account */
.container-account{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
    .account-title{
        position: absolute;
        left: 15px;
        top: 15px;
        font-size: 26px;
        font-weight: bold;
        text-shadow: 3px 3px 3px rgb(8, 75, 102);
    }
    .account-picture{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .account-settings{
        position: absolute;
        right: 15px;
        top: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
    }
        .account-settings a{
            all: unset;
        }
        .settings-item{
            padding: 5px 7px 5px 7px;
            border-radius: 10px;
            font-weight: bold;
            font-size: 14px;
            text-shadow: 0px 0px 3px rgb(8, 75, 102);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all .3s ease-in-out;
        }
            .settings-item:hover{
                box-shadow: 0 0 .25rem rgba(32, 32, 32, 0.5), -.125rem -.125rem 1rem rgba(71, 203, 239, 0.5), .125rem .125rem 1rem rgba(90, 219, 255, 0.5);
                color: rgb(8, 75, 102);
                background-color: #f1f1f1;
                text-shadow: none;
            }
            .settings-item i{
                font-size: 30px;
            }
    .account-line{
        position: absolute;
        left: 50%;
        top: 150px;
        height: 1px;
        width: 80%;
        transform: translateX(-50%);
        background-color: #f1f1f1;
        border-radius: 5px;
        box-shadow: 0px 0px 1px rgb(8, 75, 102);
        z-index: -1;
    }
        .line-id{
            overflow: hidden;
            text-align: center;
            letter-spacing: 100%;        
            white-space: nowrap;    
            opacity: .4;  
        }
    .account-name{
        font-size: 26px;
        font-weight: bold;
    }
    .account-email{
        font-size: 16px;
        font-weight: bold;
    }
/* END */



