.colors{
    color: #e76f51;
    color: #e9c46a;
    color: #2a9d8f;
    color: #f1f1f1;
    color: rgb(8, 75, 102);
}

html{
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    background-image: radial-gradient(#505050 30%,#323232 70%);
    background-repeat: no-repeat;
    color: #f1f1f1;
}

.container-navbar{
    background-image: linear-gradient(to bottom left,rgba(165, 225, 252, 0.4), rgba(67, 202, 255, 0.4));
    color: #f1f1f1;
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    gap: 5px;
}
    .navbar-menu{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
        .menu-icon {
            cursor: pointer;
            width: 35px;
            height: 35px;
            position: relative;
            z-index: 5;
        }
        .menu-logo{
            width: 40px;
            height: 40px;
        }
        .menu-title{
            font-size: 20px;
            text-shadow: 1px 1px 1px #f1f1f1;
        }
    .navbar-profile{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }
        .profile-picture{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #f1f1f1;
        }
        .profile-line{
            width: 1px;
            height: 40px;
            background-color: #f1f1f1;
        }
        .profile-search{

        }
            .profile-search button{
                outline: none;
                border: none;
                background-color: #f1f1f1;
            }
            .profile-search button:hover{
                background-color: #f1f1f1;
                
            }

.container-menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    background-image: linear-gradient(to bottom left,rgba(165, 225, 252, 0.4), rgba(67, 202, 255, 0.4));
    transition: all .3s ease;
}

.container-footer{
    background-color: gray;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
    .footer-icon{

    }
    .footer-logo{
        width: 25px;
        height: 25px;
    }
    .footer-title{

    }