html{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 16px;
}

.iContainer-background
{
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(#505050 30%,#323232 70%);
    background-repeat: no-repeat;
    color: #f1f1f1;
    position: relative;
    overflow: hidden;
}

.iContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 500px;
    border-radius: 30px;
    padding: 10px;
    color: #f1f1f1;
}

.iContainer-blur{
    z-index: 1;
    background-image: linear-gradient(to bottom left,rgba(165, 225, 252, 0.4), rgba(67, 202, 255, 0.4));
    background-repeat: no-repeat;
    box-shadow: rgba(208, 232, 255, 0.3) 0px 19px 38px, rgba(32, 32, 32, 0.22) 0px 15px 12px;
    backdrop-filter: blur(3px);
}

.iTitle{
    position: absolute;
    top: 2%;
    left: 1%;
}

.iCopyright{
    position: absolute;
    top: 95%;
    left: 1%;
}

.iContainer-main{
    z-index: 2;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:center;
}
    .iContainer-main table{
        width: 400px;
    }
    .iContainer-main table tr,td{
        /* border: 1px dashed orange; */
    }
    .iContainer-main .mlogo{
        text-align: center;
        transform-origin: center;
        width: 50px;
        height: 50px;
    }
    .iContainer-main .micon{
        animation: icon-spin 20s linear infinite;
    }
        @keyframes icon-spin{
            100%{
                transform: rotate(360deg);
            }
        }
    .iContainer-main .mtitle{
        text-align: center;
        font-size: 26px;
    }
    .iContainer-main .mtitle b{
        text-shadow: 1px 1px 1px #f1f1f1;
    }
    .iContainer-main .mlabel{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 3px;
        margin: 0px 30px 0px 30px;
    }
    .iContainer-main .mtopm{
        margin-top: 3px;
    }
    .iContainer-main i{
        font-size: 20px;
    }
    .iContainer-main .mdescribe{
        margin: 0px 30px 0px 32px;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        gap: 3px;
    }
    .iContainer-main .mdescribe i{
        font-size: 12px;
    }
    .iContainer-main .mtext{
        margin: 0px 30px 0px 30px;
        width: calc(100% - 60px);
        height: 30px;
        border-radius: 5px;
        background-color: #f1f1f1;
        color: black;
        border: 2px solid rgb(48, 128, 159); 
        outline: none;
        transition: all 0.4 ease;
    }
        .iContainer-main .mtext:focus{
            box-shadow: 0 0 .25rem rgba(32, 32, 32, 0.5), -.125rem -.125rem 1rem rgba(71, 203, 239, 0.5), .125rem .125rem 1rem rgba(90, 219, 255, 0.5);
            border: 2px solid rgb(8, 75, 102);
        }
    .iContainer-main .mpassword{
        position: relative;
    }
        .iContainer-main .mpassword i{
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(-100%,-50%);
            padding-right: 36px;
            color: rgba(8, 75, 102,0.5);
            transition: all 0.4s ease;
        }
        .iContainer-main .mpassword i:hover{
            color: rgba(8, 75, 102,0.9);
        }
    .iContainer-main .moptions{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 5px 32px 5px 32px;
    }
        .iContainer-main .moptions .mcheck{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            gap: 4px;
        }
    .iContainer-main .mcheckbox{
        accent-color: rgb(8, 75, 102);

    }
    .iContainer-main .ma{
        color: rgb(133, 179, 243);
    }
    .mbutton{
        margin: 3px 30px 3px 30px;
        width: calc(100% - 60px);
        border-radius: 20px;
        height: 35px;
        color: rgb(8, 75, 102);
        background-color: #f1f1f1;
        border: 2px solid rgb(48, 128, 159); 
        outline: none;
        font-weight: bold;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
        transition: all 0.3s ease;
    }
        .mbutton:hover,.mbutton:focus{
            background-color: rgb(219, 219, 219);
            box-shadow: 0 0 .25rem rgba(32, 32, 32, 0.5), -.125rem -.125rem 1rem rgba(71, 203, 239, 0.5), .125rem .125rem 1rem rgba(90, 219, 255, 0.5);
            border: 2px solid rgb(8, 75, 102);
        }
        .mbutton .googlebg{
            padding: 1px 2px 1px 2px;
            border-radius: 3px;
            opacity: 0.6;
            border: 1px solid rgb(8, 75, 102);
            background-image: conic-gradient(DodgerBlue, MediumSeaGreen, Orange, Tomato);
        }
    .iContainer-main .msignup{
        text-align: center;
        padding: 7px;
    }

.iContainer-message{
    z-index: 3;
    backdrop-filter: blur(20px);
    font-weight: bold;
    color: #f1f1f1;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
    .iContainer-message .mtitle{
        font-size: 20px;
    }

.elogo{
    width: 310px;
    height: 310px;
    animation: icon-spinslow 100s linear infinite;
}
    @keyframes icon-spinslow{
        100%{
            transform: rotate(360deg);
        }
    }
    .ediv{
        backdrop-filter: blur(11px);
    }
    .ecode{
        font-size: 60px;
        text-shadow: -.125rem -.125rem 1rem rgba(71, 203, 239, 0.5), .125rem .125rem 1rem rgba(90, 219, 255, 0.5);
    }
    .emessage{
        font-size: 30px;
        text-shadow: -.125rem -.125rem 1rem rgba(71, 203, 239, 0.5), .125rem .125rem 1rem rgba(90, 219, 255, 0.5);
    }

.pwdchk{
    background-color: transparent;
    margin: 0px 33px 0px 33px;
    height: 7px;
}
    .pwdchk #pwdchk-point{
        background-color: #D73F40;
        border-radius: 5px;
        width: 1%;
        height: 100%;
        transition: 0.5s;
    }

.colors{
    color: #e76f51;
    color: #e9c46a;
    color: #2a9d8f;

    color: #f1f1f1;
    color: rgb(8, 75, 102);
}