.iContainer-background
{
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(#505050 30%,#323232 70%);
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

.iContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 500px;
    border-radius: 30px;
}

.iContainer-blur{
    background-image: linear-gradient(to bottom left,rgba(190, 234, 255, 0.4), rgba(67, 202, 255, 0.4));
    background-repeat: no-repeat;
    box-shadow: rgba(208, 232, 255, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    backdrop-filter: blur(3px);
    z-index: 1;
}


.iContainer-main{
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
    color: white;
}

.iTitle{
    position: absolute;
    top: 2%;
    left: 1%;
}

.iCopyright{
    position: absolute;
    top: 95%;
    left: 1%;
}

.iIcon{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 150px;
    height: 150px;
    transform-origin: center;
    animation: icon-spin 20s linear infinite;
}
    @keyframes icon-spin{
        100%{
            transform: rotate(360deg);
        }
    }


