html{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 16px;
}

.iContainer-background
{
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(#505050 30%,#323232 70%);
    background-repeat: no-repeat;
    color: #f1f1f1;
    position: relative;
    overflow: hidden;
}

.iContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 450px;
    border-radius: 30px;
    padding: 10px;
    color: #f1f1f1;
}

.iContainer-blur{
    z-index: 1;
    background-image: linear-gradient(to bottom left,rgba(165, 225, 252, 0.4), rgba(67, 202, 255, 0.4));
    background-repeat: no-repeat;
    box-shadow: rgba(208, 232, 255, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    backdrop-filter: blur(3px);
}

.iTitle{
    position: absolute;
    top: 2%;
    left: 1%;
}

.iCopyright{
    position: absolute;
    top: 95%;
    left: 1%;
}

.iContainer-main{
    z-index: 2;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
    .iContainer-main table{
        width: 400px;
    }
    .iContainer-main .mlogo{
        text-align: center;
    }
    .iContainer-main .micon{
        width: 50px;
        height: 50px;
        transform-origin: center;
        animation: icon-spin 20s linear infinite;
    }
        @keyframes icon-spin{
            100%{
                transform: rotate(360deg);
            }
        }
    .iContainer-main .mtitle{
        text-align: center;
        font-size: 26px;
    }
    .iContainer-main .mlabel{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 3px;
        margin: 0px 30px 0px 30px;
    }
    .iContainer-main i{
        font-size: 20px;
    }
    .iContainer-main .mtext{
        margin: 0px 30px 3px 30px;
        width: calc(100% - 60px);
        height: 30px;
        border-radius: 5px;
        background-color: #f1f1f1;
        color: black;
        border: 2px solid rgb(48, 128, 159); 
        outline: none;
        transition: all 0.4 ease;
    }
        .iContainer-main .mtext:focus{
            box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(71, 203, 239, 0.5), .125rem .125rem 1rem rgba(90, 219, 255, 0.5);
            border: 2px solid rgb(8, 75, 102);
        }
    .iContainer-main .mpassword{
        position: relative;
    }
        .iContainer-main .mpassword i{
            position: absolute;
            top: 50%;
            left: 100%;
            transform: translate(-100%,-50%);
            padding-right: 36px;
            color: rgba(8, 75, 102,0.5);
            transition: all 0.4s ease;
        }
        .iContainer-main .mpassword i:hover{
            color: rgba(8, 75, 102,0.9);
        }
    .iContainer-main .moptions{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 2px 30px 5px 30px;
    }
        .iContainer-main .moptions .mcheck{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            gap: 3px;
        }
    .iContainer-main .mcheckbox{
        accent-color: rgb(8, 75, 102);
    }
    .iContainer-main .ma{
        color: rgb(133, 179, 243);
    }
    .iContainer-main .mbutton{
        margin: 3px 30px 3px 30px;
        width: calc(100% - 60px);
        border-radius: 20px;
        height: 35px;
        color: rgb(8, 75, 102);
        background-color: #f1f1f1;
        border: 2px solid rgb(48, 128, 159); 
        outline: none;
        font-weight: bold;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
        transition: all 0.3s ease;
    }
        .iContainer-main .mbutton:hover,.mbutton:focus{
            background-color: rgb(219, 219, 219);
            box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(71, 203, 239, 0.5), .125rem .125rem 1rem rgba(90, 219, 255, 0.5);
            border: 2px solid rgb(8, 75, 102);
        }
        .iContainer-main .mbutton i{
            background-image: conic-gradient(DodgerBlue, MediumSeaGreen, Orange, Tomato);
            padding: 1px 2px 1px 2px;
            border-radius: 3px;
            opacity: 0.6;
            border: 1px solid rgb(8, 75, 102);
        }
    .iContainer-main .msignup{
        text-align: center;
        padding: 7px;
    }

.iContainer-message{
    z-index: 2;
    display: none;
}