/* fault3r CSS cdn */
.colors{
    color: #09413a;
    color: #521b0d;
    color: #4c3a0b;
    color: #07313b;
}
.faSpace{
    height: 20px;
    z-index: -1;
}
.faLine{
    height: 2px;
    width: 100%;
    border-top: 1px solid #f1f1f1;
    box-shadow: 0px 0px 30px rgb(8, 75, 102);
    z-index: -1;
}
.faMessage{
    width: 500px;
    margin: 10px;
    border: 2px solid rgb(48, 128, 159); 
    box-shadow: 0 0 .25rem rgba(32, 32, 32, 0.5), -.125rem -.125rem 1rem rgba(71, 203, 239, 0.5), .125rem .125rem 1rem rgba(90, 219, 255, 0.5);
    border-radius: 20px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    opacity: .9;
}
    .faMessage .mmessage{
        padding: 5px 10px 0px 0px;
        width: 100%;
    }
    .faMessage .mtitle{
        font-size: 16px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 100%;
        background-color: #cccccc;
        padding: 3px 0px 3px 0px;
    }
        .mtitle i{
            font-size: 20px;
        }
    .faMessage .mclose{
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 100%;
        transform: translateX(-100%);
        font-size: 14px;
        padding: 5px 10px 0px 0px;
    }
.faHeader{
    font-size: 26px;
    font-weight: bold;
    text-shadow: 5px 5px 3px rgb(8, 75, 102);
}
.faTitle{
    font-size: 18px;
    font-weight: bold;
    text-shadow: 5px 5px 3px rgb(8, 75, 102);
}
.faText{
    text-shadow: 3px 3px 3px rgb(8, 75, 102);
}
.faDescription{
    font-size: 12px;
    text-shadow: 3px 3px 3px rgb(8, 75, 102);
}
/* .faTable tr,td{
    border: 1px dashed orange;
} */
    .faTable tr td{
        text-align: left;
        padding-bottom: 3px;
    }
    .faTable td.right{
        text-align: right;
    }
.faInput{
    width: 300px;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: 2px solid rgb(48, 128, 159); 
    box-shadow: 1px 1px 3px rgb(8, 75, 102);
    outline: none;
    transition: all .3s ease;
}
    .faInput:focus{
        box-shadow: 0 0 .25rem rgba(32, 32, 32, 0.5), -.125rem -.125rem 1rem rgba(71, 203, 239, 0.5), .125rem .125rem 1rem rgba(90, 219, 255, 0.5);
    }
.faButton{
    width: 300px;
    height: 35px;
    margin-bottom: 5px;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    font-size: 14px;
    color: rgb(8, 75, 102);
    border: 1px solid rgb(8, 75, 102); 
    box-shadow: 2px 2px 3px rgb(8, 75, 102);
    transition: all .3s ease;
}
.faButton:hover, .faButton:focus{
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    background-color: #07313b;
    box-shadow: 0 0 .25rem rgba(32, 32, 32, 0.5), -.125rem -.125rem 1rem rgba(71, 203, 239, 0.5), .125rem .125rem 1rem rgba(90, 219, 255, 0.5);
}
.faImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    box-shadow: 2px 2px 3px rgb(8, 75, 102);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 3px 50px 3px 50px;
}
.faCheckbox{
    width: auto;
}
.faUploadButton{
    position: absolute;
    top: calc(100% - 35px);
    left: 200px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color:  rgb(8, 75, 102);
    background-color: #f1f1f1;
    border: 1px solid rgb(8, 75, 102);
    box-shadow: 1px 1px 3px rgb(8, 75, 102);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}
    .faUploadButton:hover{
        color:  #f1f1f1;
        background-color: rgb(8, 75, 102);
        border: 1px solid #f1f1f1;
    }
    .faUploadButton:hover .faUploadButton-menu{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 3px;
    }
    .faUploadButton input{
        display: none;
    }
    .faUploadButton .faUploadButton-menu{
        width: 110px;
        position: absolute;
        top: calc(100% - 5px);
        left: calc(50% - 5px);
        font-size: 12px;
        display: none;
        border: 1px solid #f1f1f1;
        border-radius: 0px 5px 5px 5px;
        background-color: #f1f1f1;
        color:  rgb(8, 75, 102);
        overflow: hidden;
    }
    .faUploadButton-menu div{
        all: unset;
        width: 100%;
        cursor: pointer;
        transition: all .3s ease;
    }
        .faUploadButton-menu div:hover{
            color: #f1f1f1;
            background-color: rgb(8, 75, 102);
        }