@font-face {
    font-family: 'BrainCellsFont';
    src: url('../fonts/Handlee-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'BrainCellsFontFa';
    src: url('../fonts/danstevis.otf');
}
html{
    scrollbar-width: thin;
    scrollbar-color: rgb(43, 165, 183) transparent;
}
body{
    font-family: 'BrainCellsFont', 'BrainCellsFontFa', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-image: radial-gradient(#505050 30%,#323232 70%);
    background-repeat: no-repeat;
    color: #f1f1f1;
    position: relative;
}
.container-navbar{
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 60px;
    padding: 8px;
    color: #f1f1f1;
    background-image: linear-gradient(to top right,rgba(165, 225, 252, 0.4), rgba(67, 202, 255, 0.4));
    box-shadow: rgba(208, 232, 255, 0.3) 0px 19px 38px, rgba(32, 32, 32, 0.22) 0px 15px 12px;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    gap: 5px;
}
    .navbar-menu{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
        .menu-icon {
            cursor: pointer;
            width: 35px;
            height: 35px;
            position: relative;
            z-index: 5;
        }
        .menu-logo{
            width: 40px;
            height: 40px;
            filter: drop-shadow(3px 3px 3px rgb(8, 75, 102));
        }
        .menu-title{
            cursor: pointer;
            font-size: 20px;
            font-weight: bold;
            color: #f1f1f1;
            text-align: center;
            text-shadow: 3px 3px 3px rgb(8, 75, 102);
        }
            .menu-title a{
                all: unset;
            }
        .menu-path{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            white-space: nowrap;
            justify-content: center;
            align-items: center;
            gap: 7px;
            font-size: 12px;
            font-weight: bold;
            box-shadow: 2px 2px 3px rgb(8, 75, 102);
            padding: 0px 5px 0px 5px;
            border: 1px solid #f1f1f1;
            border-radius: 5px;
            opacity: .7;
        }
    .navbar-profile{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }
        .profile-picture{
            cursor: pointer;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            backdrop-filter: blur(5px);
            border: 1px solid #f1f1f1;
            box-shadow: 3px 3px 4px rgb(8, 75, 102); 
            transition: all .3s ease;
        }
            .profile-picture:hover{
                box-shadow: 0 0 .25rem rgba(32, 32, 32, 0.5), -.125rem -.125rem 1rem rgba(71, 203, 239, 0.5), .125rem .125rem 1rem rgba(90, 219, 255, 0.5);
            }
        .profile-line{
            width: 1px;
            height: 40px;
            background-color: #f1f1f1;
            border-top: 1px solid #f1f1f1;
            box-shadow: 0px 0px 30px rgb(8, 75, 102);
        }
        .profile-search{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }
            .profile-search input{
                outline: none;
                border: none;
                border-bottom: 4px solid rgb(8, 75, 102);
                border-radius: 10px 0px 0px 10px;
                background-color: #f1f1f1;
                box-shadow: 2px 2px 3px rgb(8, 75, 102);
                height: 40px;
                width: 250px;
                padding-left: 7px;
                transition: all .3s ease;
            }
            .profile-search input:focus{
                box-shadow: 0 0 .25rem rgba(32, 32, 32, 0.5), -.125rem -.125rem 1rem rgba(71, 203, 239, 0.5), .125rem .125rem 1rem rgba(90, 219, 255, 0.5);
                width: 350px;
            }
            .profile-search button{
                outline: none;
                border: none;
                border-bottom: 4px solid rgb(8, 75, 102);
                border-radius: 0px 10px 10px 0px;
                background-color: #f1f1f1;
                box-shadow: 2px 2px 3px rgb(8, 75, 102);
                color: rgb(8, 75, 102);;
                font-size: 20px;
                padding: 1px 5px 1px 5px;
                height: 40px;
                transition: all .3s ease;
            }
            .profile-search button:hover{
                box-shadow: 0 0 .25rem rgba(32, 32, 32, 0.5), -.125rem -.125rem 1rem rgba(71, 203, 239, 0.5), .125rem .125rem 1rem rgba(90, 219, 255, 0.5);
            }
.container-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    overflow-x: hidden;
    width: 0px;
    height: calc(100% - 60px);
    margin-top: 60px;
    border-radius: 0px 0px 30px 0px;
    backdrop-filter: blur(3px);
    background-image: linear-gradient(to bottom left,rgba(165, 225, 252, 0.4), rgba(67, 202, 255, 0.4));
    transition: all .3s ease;
}
    .menu-main{
        width: 100%;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: center;
        gap: 5px;
        font-weight: bold;
    }
    .menu-main .sub{
        padding-left: 15px;
    }
    .main-line{
        height: 3px;
        background: linear-gradient(-45deg, #16d3b0, #5787f7, #338AFF, #3CF0C5);
        background-size: 600%;
        animation: shine 16s linear infinite;
    }
        @keyframes shine {
            0%{
                background-position: 0% 50%;
            }
            50%{
                background-position: 100% 50%;
            }
            100%{
                background-position: 0% 50%;
            }
        }
    .menu-item{
        width: 100%;
        padding: 2px 5px 2px 5px;
        text-decoration: none;
        box-shadow: inset 0 0 0 0 #f1f1f1;
        color: #f1f1f1;
        white-space: nowrap;
        transition: all .3s ease;
    }
        .menu-item:hover{
            color: rgb(8, 75, 102);
            box-shadow: inset 230px 0 0 0 #f1f1f1;
        }
.container-profile{
    position: fixed;
    width: auto;
    min-width: 150px;
    max-width: 190px;
    height: 0px;
    top: 60px;
    right: 0;
    z-index: 3;
    overflow: hidden;
    border-radius: 0px 0px 0px 15px;
    background-image: linear-gradient(to bottom left,rgba(165, 225, 252, 0.4), rgba(67, 202, 255, 0.4));
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
    .profile-name{
        width: 100%;
        font-size: 18px;
        text-align: center;
        padding: 3px;
        cursor: pointer;
        border: 2px solid #f1f1f1;
        background-color: #f1f1f1;
        color: rgb(8, 75, 102);
    }
    .profile-name a{
        all: unset;
    }
    .container-profile .menu-item{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
.container-main{
    min-width: 500px;
    min-height: 110px;
    width: calc(80%);
    padding: 20px;
    margin: 30px 10% 30px 10%;
    background-image: linear-gradient(to bottom left,rgba(165, 225, 252, 0.4), rgba(67, 202, 255, 0.4));
    border-radius: 20px;
    box-shadow: rgba(208, 232, 255, 0.3) 0px 19px 38px, rgba(32, 32, 32, 0.22) 0px 15px 12px;
}
.container-footer{
    width: 100%;
    height: 60px;
    padding: 10px;
    background-image: linear-gradient(to bottom left,rgba(165, 225, 252, 0.4), rgba(67, 202, 255, 0.4));
    box-shadow: rgba(208, 232, 255, 0.3) 0px 19px 38px, rgba(32, 32, 32, 0.22) 0px 15px 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 1;
    opacity: .9;
    position: relative;
    overflow: hidden;
}
    .footer-copyright{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
        .footer-logo{
            width: 25px;
            height: 25px;
        }
        .footer-title{
            font-size: 14px;
            white-space: nowrap;
        }
    .footer-links{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
        .footer-links span{
            font-size: 14px;
        }
        .footer-links div:first-child{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: flex-end;
            gap: 3px;
        }
        .footer-links div:last-child{
            font-size: 12px;
        }
    .links-item{
        text-decoration: none;
        box-shadow: inset 0 0 0 0 #f1f1f1;
        color: rgb(126, 207, 251);
        padding: 0px 3px 1px 3px;
        border-radius: 4px;
        transition: all .3s ease-in-out;
    }
    .links-item:hover{
        color: rgb(8, 75, 102);
        box-shadow: inset 200px 0 0 0 #f1f1f1;
    }

.pwd-chk{
    background-color: transparent;
    height: 7px;
}
    .pwd-chk #pwdchk-point{
        background-color: #D73F40;
        border-radius: 5px;
        width: 1%;
        height: 100%;
        transition: .4s;
    }
.pwd-eye{
    position: relative;
}
    .pwd-eye i{
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-100%,-50%);
        padding-right: 7px;
        color: rgba(8, 75, 102,0.5);
        transition: all .3s ease;
    }
    .pwd-eye i:hover{
        color: rgba(8, 75, 102,0.9);
    }
.DeleteButton{
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
    margin-top: 6px;
    width: 300px;
}
    .DeleteButton .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
    }
    .DeleteButton .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
        to left,
        hsl(355, 100%, 16%) 0%,
        hsl(0, 98%, 25%) 8%,
        hsl(0 98% 25%) 92%,
        hsl(355 100% 16%) 100%
        );
    }
    .DeleteButton .front {
    display: block;
    position: relative;
    padding: 4px 27px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 12px;
    color: #dcdcdc;
    background: #521b0d;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
    transition: color 1s linear;
    }
    .DeleteButton .front:hover{
        color: #f1f1f1;
    }
    .DeleteButton:hover {
    filter: brightness(107%);
    }
    .DeleteButton:hover .front {
    transform: translateY(-6px);
    transition: transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }
    .DeleteButton:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
    }
    .DeleteButton:hover .shadow {
    transform: translateY(4px);
    transition: transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
    }
    .DeleteButton:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
    }
    .DeleteButton:focus:not(:focus-visible) {
    outline: none;
    }
.progress-bar{
    position: fixed;
    top: 60;
    left: 0;
    height: 3px;
    opacity: .7;
    z-index: 10;
    width: 0%;
    background-image: linear-gradient(to right, #2dbeb4, #2fdbd5);
    transition: all .3s ease;
}
.footer {
    width:100%;
    position: absolute;
    bottom: -160px;
    z-index: -1;
    opacity: .6;
}
    .footer svg {
        width:100%;
    }
    .footer .wave {
        animation: wave 20s linear;
        animation-iteration-count:infinite;
        fill:rgb(31, 92, 116);
    }
    .gooeff {
            filter: url(#goo);
    }
    #wave2 {
        animation-duration: 15s;
        animation-direction: reverse;
        opacity: .5;
    }
    #wave3 {
        animation-duration: 17s;
        opacity: .4;
    }
    @keyframes wave {
        to {transform: translateX(-100%);}
    }

  
  




