@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="iContainer-background">
    
    <h1 class="iTitle">BrainCells.</h1>
    <div class="iContainer iContainer-blur"></div>
    <div id="divMain" class="iContainer iContainer-main">
        <form>
            <table>
                <tr>
                    <td class="mlogo">
                        <img src="/resource/neuron-icon-white.png" class="micon" />
                    </td>
                </tr>
                <tr>
                    <td class="mtitle">
                        <p>Sign in to <b>BrainCells</b></p>
                    </td>
                </tr>
                <tr>
                    <td class="mlabel">
                        <i class="fa fa-envelope"></i>
                        <label for="username">Email address</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="username" id="username" type="text" class="mtext" />
                    </td>
                </tr>
                <tr>
                    <td class="mlabel">
                        <i class="fa fa-key"></i> 	
                        <label for="password">Password</label>
                    </td>
                </tr>
                <tr>
                    <td class="mpassword">
                        <input name="password" id="password" type="password" class="mtext" />
                        <i class="fa fa-eye" onmouseover="showPassword()" onmouseout="hidePassword()"></i>
                    </td>
                </tr>    
                <tr>
                    <td class="moptions">
                        <div class="mcheck">
                            <input name="remember" id="remember" type="checkbox" class="mcheckbox" checked />
                            <label for="remember">Remember me</label>
                        </div>
                        <a href="#" class="ma">Forget password?</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="mbutton">Sign in</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="mbutton"><i class="fa fa-google"></i>Sign in with Google</button>
                    </td>
                </tr>
                <tr>
                    <td class="msignup">
                        Don't have an account? <a href="#" class="ma" onclick="showMessage()">Sign up</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="divMessage" class="iContainer iContainer-message">
        <p>Message</p>
        <button onclick="hideMessage()">Close</button>
    </div>
    <p class="iCopyright">&copy; copyright faulter, Inc. all rights reserved.</p>
</div>
