@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="container-background">
    <div class="container container-blur">
    </div>
    <div class="container container-main">
        <h1>Welcome</h1>
    </div>
</div>
