@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="iContainer-background">
    <img src="/resource/neuron-icon-white.png" class="iIcon" />
    <h1 class="iTitle">BrainCells.</h1>
    <div class="iContainer iContainer-blur"></div>
    <div class="iContainer iContainer-main">
    </div>
    <p class="iCopyright">&copy; copyright faulter, Inc. all rights reserved.</p>
</div>
