
@using BrainCells.Presentation.Models.Todo.ViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Add TodoList";
}

@model AddListViewModel

<div class="faHeader"><i class="fa fa-check-square-o"></i> Todo</div>
<div class="faLine"></div>
<div class="faSpace"></div>
<form asp-controller="Todo" asp-action="AddList" method="post" enctype="multipart/form-data">
    <input asp-for="DefaultPicture" type="checkbox" id="DefaultPicture" hidden />
    <table class="faTable">
        <tr>
            <td colspan="2" class="faTitle"><i class="fa fa-calendar-plus-o"></i> Add Todo List</td>
        </tr>
        <tr>
            <td class="faText right"><label for="Name">List Name:</label></td>
            <td><input asp-for="Name" class="faInput" type="text" required /></td>
        </tr>
        <tr>
            <td class="faText right"><label for="Description">Description:</label></td>
            <td><input asp-for="Description" class="faInput" type="text" required /></td>
        </tr>
        <tr>
            <td class="faText right"><label for="Color">Color:</label></td>
            <td><input asp-for="Color" class="faInput" type="color" value="#f1f1f1" /></td>
        </tr>
        <tr>
            <td class="faText right top">Picture:</td>
            <td style="position: relative;">
                <img id="imagePreview" class="faImage faImageS" style="background-image: url('/resource/todo-list.png');" /> 
                <div class="faUploadButton">
                    <i class="fa fa-upload"></i>
                    <input asp-for="Picture" type="file" accept=".jpg, .png" id="fileInput">
                    <div class="faUploadButton-menu">
                        <div id="upload-file">Upload a photo...</div>
                        <div id="remove-file" onclick="UploadButtonRemove('todo-list')">Remove photo</div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="right"><button type="submit" class="faButton">Add List</button></td>
        </tr>
    </table>
</form>
<div class="faLine"></div>
<div class="faSpace"></div>
<form asp-controller="Todo" asp-action="Index" method="get">
    <button type="submit" class="faButton">Back ←</button>
</form>
