@using BrainCells.Presentation.Models.Todo.ViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Add TodoTask";
}

@model AddTaskViewModel

<div class="faHeader"><i class="fa fa-check-square-o"></i> Todo</div>
<div class="faLine"></div>
<div class="faSpace"></div>
<form asp-controller="Todo" asp-action="AddTask" method="post">
    <table class="faTable">
        <tr>
            <td colspan="2" class="faTitle"><i class="fa fa-check"></i> Add Todo Task</td>
        </tr>
        <tr>
            <td class="faText right"><label for="Title">Task Title:</label></td>
            <td><input asp-for="Title" class="faInput" type="text" required /></td>
        </tr>
        <tr>
            <td class="faText right"><label for="Description">Description:</label></td>
            <td><input asp-for="Description" class="faInput" type="text" required /></td>
        </tr>
        <tr>
            <td class="faText right"><label for="Color">Color:</label></td>
            <td><input asp-for="Color" class="faInput" type="color" value="#f1f1f1" /></td>
        </tr>

        <tr>
            <td class="faText right"><label for="Title">Due Date:</label></td>
            <td><input class="faInput" type="text" data-jdp /></td>
        </tr>
        <tr>
            <td colspan="2" class="right"><button type="submit" class="faButton">Add Task</button></td>
        </tr>
    </table>
</form>
<div class="faLine"></div>
<div class="faSpace"></div>
<form asp-controller="Todo" asp-action="Index" method="get">
    <button type="submit" class="faButton">Back ←</button>
</form>
