@using BrainCells.Presentation.Models.Todo.ViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Add TodoTask";
}

@model AddTaskViewModel

<div class="faHeader"><i class="fa fa-check-square-o"></i> Todo</div>
<div class="faLine"></div>
<div class="faSpace"></div>
<form asp-controller="Todo" asp-action="AddTask" method="post">
    <table class="faTable">
        <tr>
            <td colspan="2" class="faTitle"><i class="fa fa-check"></i> Add Todo Task</td>
        </tr>
        <tr>
            <td class="faText right"><label for="Title">Task Title:</label></td>
            <td><input asp-for="Title" class="faInput" type="text" required /></td>
        </tr>
        <tr>
            <td class="faText right"><label for="Description">Description:</label></td>
            <td><input asp-for="Description" class="faInput" type="text" required /></td>
        </tr>
        <tr>
            <td class="faText right top"><label for="Icon">Icon:</label></td>
            <td><input asp-for="Icon" class="faIcon icon-picker" type="text" value="🧠" readonly /></td>
        </tr>
        <tr>
            <td class="faText right top"><label for="PriorityLevel">Priority Level:</label></td>
            <td class="faContainer">
                <div class="faRadio" style="background-color: #09413a;">
                    <input asp-for="PriorityLevel" type="radio" id="low" value="low" />
                    <label for="low">low</label>
                </div>
                <div class="faRadio" style="background-color: #4c3a0b;">
                    <input asp-for="PriorityLevel" type="radio" id="medium" value="medium" checked />
                    <label for="medium">medium</label>
                </div>
                <div class="faRadio" style="background-color: #521b0d;">
                    <input asp-for="PriorityLevel" type="radio" id="high" value="high" />
                    <label for="high">high</label>
                </div>
            </td>
        </tr>
        <tr>
            <td class="faText right"><label for="Title">Due Date:</label></td>
            <td><input class="faInput" type="text" data-jdp /></td>
        </tr>
        <tr>
            <td colspan="2" class="right"><button type="submit" class="faButton">Add Task</button></td>
        </tr>
    </table>
</form>
<div class="faLine"></div>
<div class="faSpace"></div>
<form asp-controller="Todo" asp-action="Index" method="get">
    <button type="submit" class="faButton">Back ←</button>
</form>
