@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Todo";
}

<div class="faHeader"><i class="fa fa-check-square-o"></i> Todo</div>
<div class="faLine"></div>
<div class="faSpace"></div>