@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Edit Information";
}

<div class="faHeader"><i class="fa fa-edit"></i> Edit Information</div>
<div class="faLine"></div>
<div class="faSpace"></div>