@using BrainCells.Presentation.Models.Account.ViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Edit Information";
}

@model EditInformationViewModel

@{
    var account = ViewData["Account"] as AccountViewModel;
    if(account is null)
    {
        account = new AccountViewModel{
            Id = "00000000-0000-0000-0000-000000000000",
            Name = "[ACCOUNT]",
            Picture = "null",
        };
    }
}

<div class="faHeader"><i class="fa fa-edit"></i> Edit Information</div>
<div class="faLine"></div>
<div class="faSpace"></div>
<form asp-controller="Account" asp-action="EditInformation" method="post" enctype="multipart/form-data">
    <input asp-for="DefaultPicture" type="checkbox" id="DefaultPicture" hidden />
    <table class="faTable">
        <tr>
            <td colspan="2" class="faTitle"><i class="fa fa-user-circle-o"></i> Change Account Picture</td>
        </tr>
        <tr>
            <td colspan="2" class="faText">Choose a new picture for your account.</td>
        </tr>
        <tr>
            <td colspan="2" style="position: relative;">
                <img id="imagePreview" class="faImage" style="background-image: url('data:image/*;base64,@account.Picture');" /> 
                <div class="upload-btn">
                    <i class="fa fa-upload"></i>
                    <input asp-for="Picture" type="file" accept=".jpg" id="fileInput">
                    <div class="upload-menu">
                        <div id="upload-file">Upload a photo...</div>
                        <div id="remove-file">Remove photo</div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="faTitle"><i class="fa fa-edit"></i> Edit Your Information</td>
        </tr>
        <tr>
            <td colspan="2" class="faText">Update your personal information below.</td>
        </tr>
        <tr>
            <td class="faText right">Email address:</td>
            <td><input asp-for="Email" class="faInput" type="email" value="@account.Email" required /></td>
        </tr>
        <tr>
            <td class="faText right">Your full name:</td>
            <td><input asp-for="Name" class="faInput" type="text" value="@account.Name" required /></td>
        </tr>
        <tr>
            <td colspan="2" class="right"><button type="submit" class="faButton">Update Profile</button></td>
        </tr>
    </table>
</form>
<div class="faLine"></div>
<div class="faSpace"></div>
<form asp-controller="Account" asp-action="Index" method="get">
    <button type="submit" class="faButton">Back ←</button>
</form>
