@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewData["Title"] = "ForgotPassword";
}

<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <table>
        <tr>
            <td class="mtitle">
                <span><i class="fa fa-unlock"></i> Forgot Password?</span>
            </td>
        </tr>
        <tr>
            <td class="mlabel">
                <label>We help you regain access to your account by sending you a <big>One-Time Password</big>.</label>
            </td>
        </tr>
        <tr>
            <td class="mlabel">
                <i class="fa fa-envelope"></i>
                <label for="Email">Enter your email address</label>
            </td>
        </tr>
        <tr>
            <td>
                <input name="Email" id="Email" type="email" class="mtext" required />
            </td>
        </tr>
        <tr>
            <td>
                <div class="mdescribe2">
                    <i class="fa fa-info-circle"></i> Check your inbox for an email containing your One-Time Password. 
                    If you don't see it, be sure to look in other folders in your mailbox just in case!
                </div>
            </td>
        </tr>  
        <tr>
            <td>
                <button type="submit" class="mbutton">Reset Password</button>
            </td>
        </tr>
 </form>
        <tr>
            <td>
                <form asp-controller="Home" asp-action="Contact" method="get">
                    <button type="submit" class="mbutton"><i class="fa fa-coffee"></i>Contact Us</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form asp-controller="Account" asp-action="SignIn" method="get">
                    <button type="submit" class="mbutton">Back ←</button>
                </form>
            </td>
        </tr>
    </table>
