<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BrainCells</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    @await RenderSectionAsync("Styles", required:false)
</head>
<body>
    <div class="nav-container">
        <div class="nav-menu">
            <i class="fa fa-navicon"></i>
            <img src="/resource/neuron-icon-white.png" />
            <span>BrainCells</span>
        </div>
        <div class="nav-profile">
            <div class="profile-search">
                <input type="text" />
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="profile-line"></div>
            <div class="profile-profile"></div>
        </div>
    </div>
    <div>@RenderBody()</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/layout.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
