@using BrainCells.Presentation.Models.Account.ViewModels

@{
    var account = ViewData["Account"] as AccountViewModel;
    if(account == null)
    {
        account = new AccountViewModel{
            Name = "[ACCOUNT]",
            Picture = "null",
        };
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BrainCells</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/menu-close-button.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/facdn.css" />
    @await RenderSectionAsync("Styles", required:false)
</head>
<body>
    <div class="container-navbar">
        <div class="navbar-menu">
            <div class="menu-icon" id="btn-menu-responsive" onclick="ToggleMenu()">
                <div class="btn-menu"><span></span></div>
            </div>
            <img class="menu-logo" src="/resource/app-logo.png" />
            <span class="menu-title"><a href="/">BrainCells</a></span>
        </div>
        <div class="navbar-profile">
            <div class="profile-search">
                <input type="text" placeholder="Search something..." />
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="profile-line"></div>
            <div class="profile-picture" onclick="ProfileMenu()"
                    style="background-image: url('data:image/*;base64,@account.Picture');">
            </div>
        </div>
    </div>
    <div class="container-profile" id="profile-div">
        <div class="profile-name">@account.Name</div>
        <a href="/Account/"><i class="fa fa-user-circle-o"></i> View Profile</a>
        <a href="#"><i class="fa fa-edit"></i> Edit Information</a>
        <a href="/Account/Settings"><i class="fa fa-gears"></i> Settings</a>
        <a href="/Account/SignOut"><i class="fa fa-sign-out"></i> Sign Out</a>
    </div>
    <div class="container-menu" id="menu-div"></div>
    <div class="container-main" id="container-main">
        @{
            if(ViewData["MessageType"] != null)
            {
                if(ViewData["MessageType"].ToString() != "none")
                {
                    string message = ViewData["MessageType"].ToString();
                    string title = message.Split('|')[0];
                    string color = message.Split('|')[1];
                    string icon = message.Split('|')[2];
                    <div class="faMessage" id="faMessage">
                        <div class="mtitle" style="color: @color;"><i class="fa fa-@icon"></i> @title</div>
                        <div class="mclose" style="color: @color;" onclick="faMessageClose()"><i class="fa fa-window-close"></i></div>
                        <div class="mmessage" asp-validation-summary="All" style="background-color: @color;"></div>
                    </div>
                }
            }
        }
        @RenderBody()
    </div>
    <div class="container-footer">
        <div class="footer-copyright">
            <img class="footer-logo" src="/resource/app-logo.png" />
            <span class="footer-title">&copy; copyright 2025 fault3r, Inc.</span>
        </div>
        <div class="footer-links">
            <div>
                <span>BrainCells</span>
                <a class="links-item" href="/Home/Terms">Terms</a>
                <a class="links-item" href="#">Docs</a>
                <a class="links-item" href="#">Contact</a>
            </div>
            <div>a project to manage personal plans.</div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/pwd-chk.js"></script>
    <script src="~/js/layout.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
