<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BrainCells</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/checkbox.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    @await RenderSectionAsync("Styles", required:false)
</head>
<body>
    <div class="iContainer-background">
        <h1 class="iTitle">BrainCells</h1>
        <div class="iContainer iContainer-blur"></div>
        <div id="divMain" class="iContainer iContainer-main">
            @RenderBody()
        </div>
        @{
            if(ViewData["MessageType"] is not null)
            {
                string message = ViewData["MessageType"].ToString();
                string title = message.Split('|')[0];
                string color = message.Split('|')[1];
                string icon = message.Split('|')[2];
                <div id="divMessage" class="iContainer iContainer-message">
                    <p class="mtitle" style="color: @color;"><i class="fa fa-@icon"></i> @title</p>
                    <div asp-validation-summary="All"></div>
                    <button class="mbutton" onclick="hideMessage()"><i class="fa fa-check"></i>Ok</button>
                </div>
            }
        }
        <p class="iCopyright">&copy; copyright 2025 faulter, Inc. all rights reserved.</p>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/pwd-chk.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
