@using BrainCells.Presentation.Models.Error.ViewModels

@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewData["Title"] = "Error";
}

@model StatusCodeViewModel

<table>
    <tr>
        <td class="mlogo">
            <img src="/resource/app-logo.png" class="elogo" />
        </td>
    </tr>
</table> 
<div id="divMessage" class="iContainer iContainer-message ediv">
    <table>
        <tr>
            <td>
                <p class="ecode">@Model.Code</p>
                <p class="emessage">@Model.Message</p>
                <form asp-controller="Home" asp-action="Index" method="get">
                    <button type="submit" class="mbutton"><i class="fa fa-home"></i>Back Home</button>
                </form>
            </td>
        </tr>
    </table>
</div>

