@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewData["Title"] = "ForgotPassword";
}

<form>
    <table>
        <tr>
            <td class="mlogo">
                <img src="/resource/app-logo.png" class="micon mlogo" />
            </td>
        </tr>
        <tr>
            <td class="mtitle">
                <p><b><a href="/">BrainCells</a></b></p>
            </td>
        </tr>
        <tr>
            <td class="mtitle">
                <p>Forgot Password?</p>
            </td>
        </tr>
        <tr>
            <td class="mlabel">
                <i class="fa fa-envelope"></i>
                <label for="Email">Enter your email address</label>
            </td>
        </tr>
        <tr>
            <td>
                <input id="Email" type="text" class="mtext" required />
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="mbutton">Send reset code</button>
            </td>
        </tr>
    </table>
</form>