@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewData["Title"] = "ForgotPassword";
}

<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <table>
        <tr>
            <td class="mlogo">
                <img src="/resource/app-logo.png" class="micon mlogo" />
            </td>
        </tr>
        <tr>
            <td class="mtitle">
                <p><b><a href="/">BrainCells</a></b></p>
            </td>
        </tr>
        <tr>
            <td class="mtitle">
                <p>Forgot Password?</p>
            </td>
        </tr>
        <tr>
            <td class="mlabel">
                <label>We help you regain access to your account by sending you a <b>one-time password</b>.</label>
            </td>
        </tr>
        <tr>
            <td class="mlabel">
                <i class="fa fa-envelope"></i>
                <label for="Email">Enter your email address</label>
            </td>
        </tr>
        <tr>
            <td>
                <input name="Email" id="Email" type="email" class="mtext" required />
            </td>
        </tr>
        <tr>
            <td>
                <div class="mdescribe2">
                    <i class="fa fa-exclamation-circle"></i> Check your inbox for an email containing your one-time password. 
                    If you don't see it, be sure to look in other folders in your mailbox just in case!
                </div>
            </td>
        </tr>  
        <tr>
            <td>
                <button type="submit" class="mbutton">Reset Password</button>
            </td>
        </tr>
 </form>
        <tr>
            <td>
                <form asp-controller="Account" asp-action="SignIn" method="get">
                    <button type="submit" class="mbutton">Back ←</button>
                </form>
            </td>
        </tr>
    </table>
