@using BrainCells.Presentation.Models.Account.ViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Account";
}

@model AccountViewModel

<p>@Model.Id</p>
<p>@Model.Email</p>
<p>@Model.Name</p>
<p>@Model.Role</p>
<div style="background-image: url('data:image/*;base64,@Model.Picture'); width: 100px; height: 100px; background-size: cover;"></div>