@using BrainCells.Presentation.Models.Account.ViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Account";
    var account = ViewData["Account"] as AccountViewModel;
}
<div class="container-account">
    <div class="account-title"><i class="fa fa-user-circle-o"></i> Your Profile</div>
    <div class="account-picture" style="background-image: url('data:image/*;base64,@account.Picture');"></div>
    <div class="account-line"></div>
    <div class="account-name">@account.Name</div>
    <div class="account-email">@account.Email</div>
</div>
