@using System.Security.Claims

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Account";
}

@{
    if(User.Identity.IsAuthenticated)
    {
        <p>@User.FindFirst(ClaimTypes.NameIdentifier).Value.ToString()</p>
        <p>@User.FindFirst(ClaimTypes.Email).Value.ToString()</p>
        <p>@User.FindFirst(ClaimTypes.Role).Value.ToString()</p>
        <p>@User.FindFirst(ClaimTypes.Name).Value.ToString()</p>
    }
}
