
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Settings";
}

@section Styles{
    <link rel="stylesheet" href="~/css/account/settings.css" />
}

<div class="container-settings">
    <div class="settings-title faHeader"><i class="fa fa-gears"></i> Settings</div>
    <div class="faLine"></div>
    <div class="faSpace"></div>
    <form>
        <table class="faTable">
            <tr>
                <td colspan="2" class="faTitle">Change Account Password</td>
            </tr>
            <tr>
                <td class="faText">Current Password:</td>
                <td><input class="faInput" type="text" /></td>
            </tr>
            <tr>
                <td class="faText">New Password:</td>
                <td><input class="faInput" type="password" /></td>
            </tr>
            <tr>
                <td class="faText">Confirm Password:</td>
                <td><input class="faInput" type="password" /></td>
            </tr>
            <tr>
                <td colspan="2"><button class="faButton" type="submit">Change Password</button></td>
            </tr>
        </table>
    </form>
</div>