
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Settings";
}

@section Styles{
    <link rel="stylesheet" href="~/css/account/settings.css" />
}

<div class="container-settings">
    <div class="settings-title faHeader"><i class="fa fa-gears"></i> Settings</div>
    <div class="faLine"></div>
</div>