@using BrainCells.Presentation.Models.Home.ViewModels

@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewData["Title"] = "ContactUs";
}

@model ContactViewModel

<form asp-controller="Home" asp-action="Contact" method="post">
    <table>
        <tr>
            <td class="mtitle">
                <span><i class="fa fa-coffee"></i> Contact Us</span>
            </td>
        </tr>
        <tr>
            <td class="mlabel">
                <label>Whether you have a Question, Feedback, or just want to say hello, feel free to reach out to us.</label>
            </td>
        </tr>
        <tr>
            <td class="mlabel">
                <i class="fa fa-user"></i>
                <label for="FullName">Enter your full name:</label>
            </td>
        </tr>
        <tr>
            <td>
                <input asp-for="FullName" id="FullName" type="text" class="mtext" required />
            </td>
        </tr>
        <tr>
            <td class="mlabel">
                <i class="fa fa-envelope"></i>
                <label for="Email">Email address</label>
            </td>
        </tr>
        <tr>
            <td>
                <input asp-for="Email" id="Email" type="email" class="mtext" required />
            </td>
        </tr>
        <tr>
            <td class="mlabel">
                <i class="fa fa-commenting"></i>
                <label for="Message">Message</label>
            </td>
        </tr>
        <tr>
            <td>
                <textarea asp-for="Message" id="Message" type="text" class="mtext mtextwide" required></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <div class="mdescribe">
                    <i class="fa fa-info-circle"></i>We will answer your message as soon as possible.
                </div>
            </td>
        </tr> 
        <tr>
            <td>
                <button type="submit" class="mbutton">Send Message</button>
            </td>
        </tr>
 </form>
        <tr>
            <td>
                <form asp-controller="Account" asp-action="SignIn" method="get">
                    <button type="submit" class="mbutton">Back ←</button>
                </form>
            </td>
        </tr>
    </table>