
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewData["Title"] = "Terms";
}
<form asp-controller="Home" asp-action="Contact" method="get">
    <table>
        <tr>
            <td class="mtitle">
                <span><i class="fa fa-book"></i> Terms</span>
            </td>
        </tr>
        <tr>
            <td class="mlabel">
                <label>Welcome to <big>BrainCells</big>. By using our Site, you agree to these Terms and Conditions:</label>
            </td>
        </tr>
        <tr>
            <td>
                <div class="mdescribe2">
                    <i class="fa fa-quote-left"></i>
                    You may use the Site for lawful purposes only. You agree not to engage in any activity that could harm the Site or its users.
                    <i class="fa fa-quote-right"></i>
                </div>
            </td>
        </tr> 
        <tr>
            <td>
                <div class="mdescribe2">
                    <i class="fa fa-quote-left"></i>
                    If you create an account, you are responsible for keeping your password confidential and for all activities that occur under your account.
                    <i class="fa fa-quote-right"></i>
                </div>
            </td>
        </tr> 
        <tr>
            <td>
                <div class="mdescribe2">
                    <i class="fa fa-quote-left"></i>
                    We may update these Terms from time to time. Your continued use of the Site after changes means you accept the new Terms.
                    <i class="fa fa-quote-right"></i>
                </div>
            </td>
        </tr> 
        <tr>
            <td class="mlabel">
                <label>If you have any questions about these Terms, please contact us.</label>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="mbutton"><i class="fa fa-coffee"></i>Contact Us</button>
</form>
            </td>
        </tr>
        <tr>
            <td>
                <form asp-controller="Account" asp-action="SignIn" method="get">
                    <button type="submit" class="mbutton">Back ←</button>
                </form>
            </td>
        </tr>         
    </table>

