@using BrainCells.Presentation.Controllers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Error";
}

@model StatusCodeViewModel

<div class="iContainer-background">
    <h1 class="iTitle">BrainCells.</h1>
    <div class="iContainer iContainer-blur"></div>
    <div id="divMain" class="iContainer iContainer-main">
        <table>
            <tr>
                <td class="mlogo">
                    <img src="/resource/neuron-icon-white.png" class="elogo" />
                </td>
            </tr>
        </table>
    </div>
    <div id="divMessage" class="iContainer iContainer-message ediv">
        <table>
            <tr>
                <td>
                    <p class="ecode">@Model.Code</p>
                    <p class="emessage">@Model.Message</p>
                </td>
            </tr>
        </table>
    </div>
    <p class="iCopyright">&copy; copyright faulter, Inc. all rights reserved.</p>
</div>

